@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Ubuntu&display=swap");

body,
html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  background-image: url(https://assets.codepen.io/6060109/ZigZag.png);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", "Helvetica Neue";
}

.content-card {
  width: 87%;
  max-width: 360px;
  min-width: 240px;
  height: 85%;
  max-height: 600px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  -webkit-box-shadow: 0px 40px 40px -20px #3c7b61;
  box-shadow: 0px 40px 40px -20px #3c7b61;
}

.close-button-wrapper {
  text-align: end;
  margin: 15px 15px 0 0;
  cursor: pointer;
}

main {
  text-align: center;
  padding: 0 35px;
}

main h2 {
  font-weight: 500;
  font-size: 22px;
  color: #46332f;
  margin-top: 30px;
}

main p {
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 200;
  line-height: 26px;
  color: #828282;
  margin-bottom: 35px;
}

.order-summary {
  background-color: #f0fff5;
  height: 66px;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;

  display: flex;
  align-items: center;
}
.order-summary img {
  height: 100%;
}

.item-info {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.item-info p,
h6 {
  margin: 0;
}
.item-title {
  color: #2f463d;
  font-weight: 800;
  font-size: 14px;
}
.item-price {
  color: #7a8f85;
}
.link-wrapper {
  flex-grow: 1;
}
.link-wrapper a {
  text-decoration: none;
}
.link-wrapper p {
  margin: 0;
  color: #467a66;
  text-decoration: underline;
  font-size: 13;
  font-weight: 700;
}

button {
  padding: 16px 0;
  width: 100%;
  border: none;
  outline: none;
  background-color: #46a67e;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease;

  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
}
button:hover {
  opacity: 0.9;
}
button h6 {
  font-size: 15px;
}

.nav-dots {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
}
.nav-dot {
  width: 7px;
  height: 7px;
  background-color: #e0e0e0;
  border-radius: 50%;
}
.green {
  background-color: #67bd99;
}
